
/* Place your CSS styles in this file */

h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    color: #F8F1F8;
    font-style: bold;
    font-weight: 900;
}
.texto {
    align-self: center;
    text-align: center;
    font-weight: normal;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}
.servicos {
    margin-left: 40%;
}
.primeira{
    margin-left: 10%;
}
.seguinte {
    margin-left: 1%;
}
.top {
    width: 1.2cm;
    height: 0.6cm;
    margin-left: 240px;
    margin-top: 15px;
    margin-bottom: 4px;
}
img {
    width: 18.95%;
    height: 7cm;
    align-items: center;
}
h3{
    color:#fff;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(180, 96, 180);
}
body {
    background-color: #fff;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.center{
    border: 2.5px solid #FFFF00;
    text-align: center;
}
.centerr{
    border: 2.5px solid #fff;
    text-align: center;
}
.login{
    text-align: center;
    align-self: center;
    padding: 5px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #6F3680;
    width: 80%;
    height: 80%;
    border: 2px solid;
    color: #973EA7;
    min-width: 0px;          
}
.login a{
    font-size: 1.2em;
}
.login a:hover{
    background-color: white;
    font-weight: 700;
}
.login_user{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #703681;  
        border-radius: 15px ;           
}
#Usuario{  
	width: 300px;  
	height: 30px;  
	border: none;  
	border-radius: 3px;  
	padding-left: 8px;  
}
#Senha{  
	width: 300px;  
	height: 30px;  
	border: none;  
	border-radius: 3px;  
	padding-left: 8px;     
}
#login{  
	width: 300px;  
	height: 30px;  
	border: none;  
	border-radius: 17px;  	
	padding-left: 7px;  
	color: blue;    
} 

span{  
	color: white;  
	font-size: 17px;  
}
label{
    font-size: 1.35em;
    font-weight: 800;
    color: #F8EA8C;
}
.logo{
    margin-left: 50px;
}
.input{
    margin: 20px;
    width: 50%;
}
.btn { 
    margin: 5px;
}
.topnav {
overflow: hidden;
background-color: #F8EA8C;
}

.topnav a {
float:left;
display: block;
color: #983EA7;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: rgb(180, 96, 180);
color: white;
}

.topnav a.active {
background-color: #973EA7;
color: white;
}

.topnav .icon {
display: none;
}

@media screen and (max-width: 600px) {
.topnav a:not(:first-child) {display: none;}
.topnav a.icon {
    float: right;
    display: block;
}
}

@media screen and (max-width: 600px) {
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
}
.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
}
.active{
    padding-top:5px;
    padding-bottom: 5px;
    font-size: 1.2em;
    margin-top:10px;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: white;
    color: purple;
}
.link{
    font-size: 2.0em;
}
.link :hover{
    background-color: white;
    
}
a:hover{
    background-color: white;
    color: purple;
}
footer {
    padding:5px;
    background: #F8EA8C;
    color: #703681;
    text-align: center;
    }
.ano {
    text-align: right;
    }
}
.servicesop {
overflow: center;
margin-left: 10%;
margin-right: 10%;
}

.servicesop a {
float: center;
display: block;
color: #983EA7;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.servicesop a:hover {
background-color: rgb(180, 96, 180);
color: white;
}

.servicesop a.active {
background-color: #973EA7;
color: white;
}

.servicesop .icon {
display: none;
}
.servicesop.responsive a {
    float: none;
    display: block;
    text-align: left;
}